<footer class="page-footer font-small bg-dark pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-light">Siga-nos nas redes sociais</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network">
                    <li>
                        <a href="https://www.instagram.com/galvaolaise/" target="_blank" class="icoInstagram">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/la%C3%ADse-galv%C3%A3o-915070146/" target="_blank" class="icoLinkedIn">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-secondary text-center py-3">
        <span class="text-light"> © 2020 Copyright: colocar link do site</span>
        
    </div>


</footer>
